.container-modal{
    width: 100%;
    height: 100%;

    border: 5px solid rgb(213, 8, 8);

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(00, 00,00 , 0.5);
}

.container-modal .modal {
    width: 890px;
    height: 522px;

    background-color: #FEFEFE;
    border: 8px solid rgb(46, 29, 171);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 15px;
}

.container-modal .adicionar {
    width: 826px;
    height: 24px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 3px solid #e00;
}

.container-modal .adicionar h1 {
    /* Adicionar projeto */

    text-align: left;

    /* [Orange P] Style Guide/H5 */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    /* identical to box height, or 100% */

    color: #515255;
}

.configuracoes {
    /* Input form container */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 826px;
    height: 336px;

    border: 3px solid #0ee;
}

.selecionar{
    /* Vertical container */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;
    gap: 8px;
    isolation: isolate;

    width: 389px;
    height: 336px;

    text-align: center;

    /* position: absolute;
    left: 0px;
    top: 0px; */
}

.caixas-textos {
    /* Input form */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    width: 413px;
    height: 336px;

    /* position: absolute;
    left: 413px;
    top: 0px; */

    border: 5px solid;
}

.caixas-textos input {
    /* Text input container */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 3px;

    width: 100%;
    height: 56px;

    padding: 9px;
}

.caixas-textos textarea {
    /* Text input */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    padding: 16px 0px;
    text-align: left;

    width: 100%;
    height: 116px;

    padding: 9px;
}

.salvar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 22px;

    width: 101px;
    height: 42px;

    background: #FF5522;

    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    color: white;
    font-weight: bold;
}

.cancelar{
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 22px;

    width: 124px;
    height: 42px;

    background: rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.button-container {
    /* Button container */
    width: 826px;
    height: 74px;

    border: 3px solid;
    border-color: orange;
}

.botoes {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 15px;

    border: 2px solid;
}