.gridProjetos-container {
    /* Vertical container */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 389px;
    height: 258px;

    /* Trabalham juntos>
    position: absolute;
    left: 32px;
    top: 495px; */

    background: #E6E9F2;
    border-radius: 4px;
}

.gridProjetos-container h3 {
    /* Adicione seu primeiro projeto */

    width: 223px;
    height: 16px;

    /* position: absolute;
    left: calc(50% - 223px/2 - 21px);
    top: calc(50% - 16px/2 + 9px); */

    /* [Orange P] Style Guide/Body 1 */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height, or 100% */
    letter-spacing: 0.5px;

    color: #303133;

    opacity: 0.6;

    margin-top: 5px;
    margin-bottom: 5px;
}

.gridProjetos-container p {
    /* Compartilhe seu talento com milhares de pessoas */

    width: 270px;
    height: 28px;

    /* position: absolute;
    left: calc(50% - 270px/2 + 0.5px);
    top: calc(50% - 28px/2 + 47px); */

    /* [Orange P] Style Guide/Body 2 */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    /* or 100% */
    letter-spacing: 0.25px;

    color: #303133;

    opacity: 0.6;

    text-align: left;
}

.gridProjetos-container img {
    /* position: absolute;
    left: 40%;
    top: 3%; */
}
