.discover-container {
  height: calc(100% - 73px);
  border: 2px solid blue;


}

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.discover-container .div-text{
  height: 50%;
  width: 100%;
  border: 2px solid blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.discover-container .div-imgs{
  height: 50%;
  width: 100%;
  border: 2px solid blue;
  display: flex;
  align-items: left;
  justify-content: left;
  flex-direction: column;
}

.teste {
  display: flex;
  align-items: left;
  justify-content: left;
  flex-direction: row;
}

.discover-text {
width: 744px;
height: 102px;
left: calc(50% - 744px/2);
top: 185px;

border: 2px solid blue;

font-style: normal;
font-weight: 400;
font-size: 34px;
line-height: 34px;
color: #222244;

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.25px;
}

.discover-input {
  display: flex;
  align-items: left;
  justify-content: left;
  flex-direction: row;

  position: absolute;
  width: 723px;
  height: 56px;
  left: 32px;
  top: 407px;
}

.discover-img {
width: 389px;
height: 258px;
border-radius: 4px;
border: 2px solid blue;
}

.discover-profile{
  width: 24px;
  height: 24px;
}

.discover-profile-text {
width: 158px;
height: 16px;

font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 16px;
letter-spacing: 0.15px;
color: #515255;

display: flex;
align-items: center;
text-align: center;
}

