.discover-container {
  height: calc(100% - 73px);
  border: 2px solid blue;
}

.discover-container .div-text{
  height: 50%;
  width: 100%;
  border: 2px solid blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.discover-container .div-imgs{
  height: 50%;
  width: 100%;
  padding: 32px;
  border: 2px solid blue;
  display: flex;
  align-items: left;
  justify-content: left;
  flex-direction: column;
}

.discover-container fieldset{
  display: flex;
  align-items: left;
  justify-content: left;
  flex-direction: column;
  align-self: flex-start;
  margin-left: 32px;
  border-radius: 5px;
  padding: 3px;
  color:#515255
}

.discover-container legend{
  padding: 5px;
}

.discover-container input{
flex-direction: column;
align-items: flex-start;
border: none;
outline: none;

margin-left: 5px;
font-size: 16px;
width: 723px;
height: 56px;
left: 32px;
top: 407px;
}

.discover-text {
width: 744px;
height: 102px;
left: calc(50% - 744px/2);
top: 185px;

border: 2px solid blue;

font-style: normal;
font-weight: 400;
font-size: 34px;
line-height: 34px;
color: #222244;

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.25px;
}

.discover-img {
width: 389px;
height: 258px;

border-radius: 4px;
border: 2px solid blue;
}

.discover-profile{
  width: 24px;
  height: 24px;
  border-radius: 200px;
}

.discover-profile-text {
padding: 5px;

font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 16px;
letter-spacing: 0.15px;
color: #515255;

display: flex;
align-items: center;
text-align: center;
}

.discover-profile-info{
  display: flex;
  align-items: left;
  justify-content: left;
  flex-direction: row;
}
