.visualizarProjeto-container {
  width: 100%;
  height: 100%;

  /* border: 5px solid rgb(213, 8, 8); */

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 0;

  background-color: rgba(00, 00, 00, 0.5);
}

.visualizarProjeto-container .modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  width: 1042px;
  height: 900px;

  background-color: #fefefe;
  /* border: 8px solid rgb(46, 29, 171); */
}

.visualizarProjeto-container .modal .fechar {
  width: 24px;
  height: 24px;
  margin: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;

  align-self: flex-end;
  cursor: pointer;
  /* border: 1px solid black; */
}

.visualizarProjeto-container .modal .conteudo {
  height: calc(100% - 24px - 1rem);
  padding-left: 40px;
  padding-right: 40px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  /* border: 3px solid black; */
}

.visualizarProjeto-container .modal .conteudo .modal-header {
  width: 83%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  /* border: 3px solid red; */
}

.visualizarProjeto-container .modal .conteudo .profile {
  width: 25%;
  height: 60px;

  display: flex;
  justify-content: left;
  align-items: center;
  gap: 8px;

  /* border: 3px solid green; */
}

.visualizarProjeto-container .modal .conteudo .profile img {
  display: inline-block;
  height: 40px;
  /* border: 1px solid black; */
}

.visualizarProjeto-container .modal .conteudo .modal-header .user-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;

  /* border: 1px solid black; */
}

.visualizarProjeto-container .modal .conteudo .modal-header .user-name p {
  width: 100%;
  height: 20px;

  font-size: 16px;
  text-align: left;

  /* border: 1px solid black; */
}

.visualizarProjeto-container .modal .conteudo .modal-header h1 {
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "Roboto";
  font-weight: 400;
  font-size: 24px;

  color: #303133;

  /* border: 3px solid #44e; */
}

.visualizarProjeto-container .modal .conteudo .modal-header .tags {
  width: 23%;

  display: flex;
  align-items: center;
  justify-content: right;
  gap: 8px;

  /* border: 3px solid #44e; */
}

.visualizarProjeto-container .modal .conteudo .modal-header .tags p {
  width: 46px;
  height: 32px;

  border-radius: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 13px;

  background: rgba(0, 0, 0, 0.08);
}

.visualizarProjeto-container .modal .conteudo .projectImage {
  width: 83%;
}

.visualizarProjeto-container .modal .conteudo .modal-footer {
  height: auto;
  width: 83%;
  margin-top: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: flex-start;
}
.visualizarProjeto-container .modal .conteudo .modal-footer p {
  font-size: 16px;
  text-align: justify;
}
