.visualizarProjeto-container {
  width: 100%;
  height: 100%;

  border: 5px solid rgb(213, 8, 8);

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(00, 00, 00, 0.5);
}

.visualizarProjeto-container .modal {
  width: 1042px;
  height: 900px;

  /* width: 90%;
    height: 85%; */

  background-color: #fefefe;
  border: 8px solid rgb(46, 29, 171);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 50px;
}

.visualizarProjeto-container .modal .fechar {
  display: flex;
  align-items: center;
}

.modal .modal-header {
  display: flex;
  border: 3px solid #444;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.modal .profile {
  justify-content: flex-start;
  height: inherit;
  width: 23%;
  border: none;

  /* Inside auto layout */
  order: 0;

  border: 3px solid #44e;
}

.modal .modal-header h1 {
  display: flex;
  align-items: center;
  justify-content: center;

  /* Ecommerce One Page */

  /* [Orange P] Style Guide/H5 */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  /* identical to box height, or 100% */
  text-align: center;
  color: #303133;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;

  border: 3px solid #44e;
}

.modal .modal-header .tags {
  /* Frame 744 */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 0px;
  gap: 8px;

  width: 23%;

  /* Inside auto layout */
  flex: none;
  order: 2;
  flex-grow: 0;
  border: 3px solid #44e;
}

.modal .modal-header .tags p {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px;

  width: 37px;
  height: 32px;

  background: rgba(0, 0, 0, 0.08);
  border-radius: 100px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.modal .projectImage {
}
