/* Card-perfil */

.cardUsuario-container img {
  /* Circle */

  display: flex;
  justify-content: center;
  align-content: center;

  width: 122px;
  height: 122px;

  border-radius: 300px;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 42px;
}

.text-input {
  /* Text input container */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;

  /* Inside auto layout */
  flex: none;
}

.text-input h3 {
  /* Brasil */
  display: flex;
  justify-content: flex-start;

  /* [Orange P] Style Guide/Subtitle 1 */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  /* identical to box height, or 100% */
  letter-spacing: 0.15px;

  color: #0b0c0d;

  opacity: 0.5;
}

.text-input h1 {
  /* Camila Soares */
  display: flex;
  justify-content: flex-start;

  /* [Orange P] Style Guide/H5 */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  /* identical to box height, or 100% */

  color: #303133;
}

.text-input .letters {
  /* Text input container */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
}

.btn-card {
  /* <Button>  */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 22px;

  background: rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: none;

  /* [Orange P] Style Guide/Button */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 26px;
  /* identical to box height, or 173% */
  letter-spacing: 0.46px;
  text-transform: uppercase;

  color: rgba(0, 0, 0, 0.38);
}
