.header-container {
  box-sizing: border-box;
  height: 73px;
  padding: 16px 30px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background: #111133;
  border-bottom: 1px solid #111133;
}

.header-container .to-nav {
  width: 50%;
  height: 41px;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 100px;
}

.header-container .to-nav nav {
  width: 242px;
  height: 41px;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}

.header-container nav .link {
  color: #fcfdff;
  text-decoration: none;
}

.header-container .hug {
  width: 50%;
  height: 41px;

  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 16px;
  isolation: isolate;
}
