.buscarTags-container {
  height: 6rem;
  width: 100%;
  padding-left: 32px;

  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
}

.buscarTags-container input {
  width: 513px;
  height: 56px;

  padding: 8px;
}
