.myprojects-container {
  height: calc(100vh - 73px);
  display: flex;
  flex-direction: column;

  /* border: 4px solid green; */
}

.myprojects-container .usuario {
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  gap: 10rem;

  /* border: 3px solid blue; */
}

.myprojects-container h2 {
  height: 10px;
}

.myprojects-container .projetos {
  max-width: 100%;
  height: auto;
  padding: 32px;

  display: flex;
  align-items: center;
  justify-content: left;
  flex-wrap: wrap;
  gap: 40px;

  /* border: 3px solid blue; */
}
